.card {
  transition: 0.2s;
}

.card:hover {
  cursor: pointer;
  border-color: #212529;
  box-shadow: inset 0 -0.3rem 0 0 #212529;
}

.card:hover .card-img-top {
  border-bottom: 1px solid #212529 !important;
}

.container-position {
  margin-top: 7rem;
  position: relative;
  height: 100vh;
  width: 100vw;
}


